In [1]:
#!/usr/bin/python

import sqlite3

# connecting with the database (If there is no database exists, It will create one).
db = sqlite3.connect("my_database.db")

In [2]:
# Declare cursor
cursor = db.cursor()

### 1. Create Table Employee

In [3]:
# Create Table Employee
cursor.execute("CREATE TABLE Employee(EmpCode INT PRIMARY KEY, EmpFName TEXT, EmpLName TEXT,Job TEXT, Salary INT)")

### 2. Load all the data from Employee.CSV file.

In [5]:
with open('Employee.csv','r') as file:
    no_records = 0
    for row in file:
        cursor.execute("INSERT INTO Employee VALUES ( ?,?,?,?,? )",row.split(","))
        db.commit()
        no_records +=1
#db.close()
print (no_records, ' Records Inserted')

21  Records Inserted

### 3. Select the Employee details who draw salary more than 35000 and less than 55000

In [6]:

sql = "SELECT * FROM Employee WHERE Salary BETWEEN 35000 AND 55000"
result = cursor.execute(sql)
for row in result:
    print(row)

(1001, 'Basha', 'Rose', 'Data Science', 40050)
(1004, 'Ravi', 'Rose', 'SAS', 45000)
(1005, 'Shankar', 'Pink', 'Python', 42000)
(1009, 'Rajani', 'Flower', 'NLP', 45890)
(1015, 'Seenu', 'Yellow', 'C++', 45780)
(1017, 'Mushtaq', 'Maroon', 'SAS', 45020)
(1020, 'Sakshi', 'Grand', 'NLP', 45670)

### 4. Select the Employee CODE, NAME & JOB Who's salary is more than or equal to 42000

In [11]:

sql = "SELECT EmpCode,EmpFName,Job,Salary FROM Employee WHERE Salary >= 42000"
result = cursor.execute(sql)
for row in result:
    print(row)

(1004, 'Ravi', 'SAS', 45000)
(1005, 'Shankar', 'Python', 42000)
(1006, 'Mohit', 'Data Science', 56000)
(1008, 'Anand ', 'Java', 76000)
(1009, 'Rajani', 'NLP', 45890)
(1011, 'Munna', 'PowerBI', 65040)
(1012, 'Laksha', 'Tableau', 65830)
(1013, 'Rohit', 'PowerBI', 98000)
(1014, 'Shankar', 'Data Science', 65980)
(1015, 'Seenu', 'C++', 45780)
(1016, 'Jaggu', 'Java', 98120)
(1017, 'Mushtaq', 'SAS', 45020)
(1019, 'Anand', 'PowerBI', 75000)
(1020, 'Sakshi', 'NLP', 45670)

### 5. Fetch EmpFName,Job,Salary who's job is Data science and drawa greater or equal to 50000

In [24]:
sql = "SELECT EmpFName,Job,Salary FROM Employee WHERE Salary >= 50000 AND Job = 'Data Science'"
result = cursor.execute(sql)
for row in result:
    print(row)

('Mohit', 'Data Science', 56000)
('Shankar', 'Data Science', 65980)

### 6. Create Employee Dept table

In [43]:
# Create Table Employee
cursor.execute("CREATE TABLE Emp_Dept(EmpCode INT PRIMARY KEY, EmpFName TEXT, Dept INT)")

### 7. Load all the data from Emp_Dept.csv

In [44]:
with open('Emp_dept.csv','r') as file:
    no_records = 0
    for row in file:
        cursor.execute("INSERT INTO Emp_dept VALUES (?,?,?)",row.split(","))
        db.commit()
        no_records +=1
#db.close()
print (no_records, ' Records Inserted')

13  Records Inserted

In [45]:
sql = "SELECT * FROM Emp_Dept"
result = dep_cur.execute(sql)
for row in result:
    print(row)

(1000, 'Arun', 444)
(1001, 'Basha', 666)
(1006, 'Mohit', 777)
(1007, 'Asha', 888)
(1122, 'Anand ', 999)
(2034, 'Rajani', 555)
(1010, 'Rohit', 111)
(1011, 'Munna', 555)
(1234, 'Jaggu', 222)
(1017, 'Mushtaq', 555)
(1018, 'Ismail', 777)
(4560, 'Anand', 333)
(1020, 'Sakshi', 333)

### 8. Join table Employee and Emp_Dept and fetch code, First name , salary and dept based on matching employee code

In [46]:
sql = "SELECT Employee.EmpCode, Employee.EmpFName, Employee.Salary, Emp_dept.Dept FROM Employee INNER JOIN Emp_Dept ON Employee.EmpCode = Emp_Dept.EmpCode"
result = cursor.execute(sql)
for row in result:
    print(row)

(1000, 'Arun', 20250, 444)
(1001, 'Basha', 40050, 666)
(1006, 'Mohit', 56000, 777)
(1007, 'Asha', 14000, 888)
(1010, 'Rohit', 12347, 111)
(1011, 'Munna', 65040, 555)
(1017, 'Mushtaq', 45020, 555)
(1018, 'Ismail', 12300, 777)
(1020, 'Sakshi', 45670, 333)

In [42]:
sql = "DROP TABLE Emp_dept"
cursor.execute(sql)